#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left:40px;
    overflow: hidden;
    background-color: rgb(110, 102, 102);
    word-spacing: auto;
  }
  
 #mainNav li {
    float: left;
  }
  
  #mainNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 42px;
    text-decoration: none;
  }
  
  #mainNav li a:hover {
    background-color: #111;
    transition:0.8s;
  }
  body {
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;*/
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    /*font: weight 20px;*/
    /*font-size: 16px;*/
    background-image: url("paper.gif");
    background-color: rgb(94, 92, 92);
    opacity:95%;
  }

  section{
    /*background:rgba(230, 8, 8, 0.8); opacity:90%;*/
    /*background:coral; opacity:100%;*/
    /*background:#EBECF0 ;*/
    background: #EDEDED;
    /*border: 1px solid black;*/
    padding:1em;
    margin:5px;
    /*color:rgb(225, 243, 245);*/
    color: black;
}



#flexbox-container-her2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.flex-her-1{
    flex:45%;
}
.flex-her-2{
    flex:50%;
}

#ruwan{
  padding-left:105px ;
  
}

#her-facts{
   width:550px;
}

#snrj-main{
  width:100%;
  height:auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bottomNav{
  /*background:rgb(116, 119, 168); opacity:80%;*/
  background:rgb(193, 210, 212); opacity:80%;
  /*border: 2px solid black;*/
  padding:1em;
  margin:5px;
  color:rgb(241, 12, 12);
  
}
#bottomNav ul {
list-style-type: none;
margin: 0;
padding: 30px;
overflow: hidden;
background-color: rgb(78, 101, 110);
word-spacing: auto;
}

#bottomNav a {
display: block;
color: white;
text-align: left;
padding: 5px 100px;
text-decoration: none;
}

#bottomNav li a:hover {
/*background-color: #111;*/
color:black;
transition:0.8s;
/*text-decoration-color: #ff652f;*/
}

#bottomNav-flexbox-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  background-color: rgb(78, 101, 110);

}

.bottomNav-flex-1{
  flex:50%;

}
.bottomNav-flex-2{
  flex:25%

}
.bottomNav-flex-3{
  flex:25%

}

#facebook{
  padding-left:40px;
}
@media only screen and (max-width: 1300px){
  #ruwan{
    padding: 0%;
    width: 100%;
    height: auto;
  }
  .slide-top{
    font-size: 40px;
  }
}

