#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    word-spacing: auto;
  }
  
 #mainNav li {
    float: left;
  }
  
  #mainNav li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 14px 42px;
    text-decoration: none;
  }
  
  #mainNav li a:hover {
    background-color: #111;
    transition:0.8s;
  }

#Sources ul{
  list-style-type: none;

}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font: weight 20px;
  width: auto;

 
}

#myPage{
  background:url(Images\bgimg.jpg);
  object-fit: cover;
    /*margin: auto;
    max-width:1260px;
    min-width:860px;
    width: 95%;
    background:#f5f6f8;
    color:black;*/
}



section{
    /*background:rgba(230, 8, 8, 0.8); opacity:90%;*/
    /*background:coral; opacity:100%;*/
    /*background:#EBECF0 ;*/
    background: #EDEDED;
    /*border: 1px solid black;*/
    padding:1em;
    margin:5px;
    /*color:rgb(225, 243, 245);*/
    color: black;
}

#bottomNav{
    /*background:rgb(116, 119, 168); opacity:80%;*/
    background:rgb(89, 126, 138); opacity:80%;
    /*border: 2px solid black;*/
    padding:1em;
    margin:5px;
    color:rgb(241, 12, 12);
    
}
#bottomNav ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: rgb(170, 183, 184);
  word-spacing: auto;
}

#bottomNav a {
  display: block;
  color: white;
  text-align: left;
  padding: 5px 100px;
  text-decoration: none;
}

#bottomNav li a:hover {
  /*background-color: #111;*/
  color:black;
  transition:0.8s;
  /*text-decoration-color: #ff652f;*/
}

/*
#bottomNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  word-spacing: auto;
}

#bottomNav li {
  float: left;
}

#bottomNav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#bottomNav li a:hover {
  background-color: #111;
}*/

@media only screen and (max-width: 1300px){
  #mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    word-spacing: auto;
    width: 100%;
    
    
  }
  #mainNav li {
    float: left;
    width: 100%;
    text-align: center;
  }
  #main{
    width: 100%;
    height: auto;
  }
}
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
/*flexboxes in the website*/

  #flexbox-container{
    display:flex;
    flex-wrap: wrap;
    margin:10px;
    /*justify-content: space-evenly;
    align-content:center; */
    /*flex-direction:row;
    flex-wrap:wrap;*/
    /*flex-flow:column wrap;*/
   
}

.flexbox-item{
    width: 50%;
    background-color:aqua;
    border: 2 px solid black;
    color:coral;
    font-size: 5em;
    padding: 10px;
    
}

.flexbox-item-1{
  flex:48%;
  /*max-width: 1fr;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 0px;*/
}


.flexbox-item-2{
  flex:48%;
  margin-left: 25px;
  /*max-width: 1fr;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 0px;
  margin-right:20px*/
}

.flexbox-item-3{
  flex:48%;

}

.flexbox-item-4{
  flex:50%;
  padding-top:45px;
  /*margin: 20px;
  justify-content:center;*/
  /*padding-left: 20px;
  margin-top: 50px;*/


}

.flexbox-item-5{
  flex:48%;
}


.flexbox-item-6 {
flex:50%;
padding-top: 20px;
padding-left: 20px;
margin-top: 50px;



}


.flexbox-item-7{
  /*padding-top:50px;*/
  /*margin-right:20px;*/
  /*padding-right:40px;*/
  /*margin-top: 50px;*/
  flex:50%;
}

.flexbox-item-8{
  /*padding-left:20px;*/
  flex:48%;
  padding-top:30px ;
  margin-left:20px;

}



.flexbox-beach-1{
  flex:48%;

} 

.flexbox-beach-2{
  flex:50%;
  margin-left: 20px;
  margin-top:50px;

} 
.flexbox-beach-3{
  flex:48%;

} 

.flexbox-beach-4{
  flex:50%;
  margin-left: 20px;
  margin-top:50px

} 

.flexbox-beach-5{
  flex:48%;
  
}

.flexbox-beach-6{
  flex:50%;
  margin-left: 20px;
  margin-top:50px
}

.flexbox-home-1{
  flex:48%;

}

.flexbox-home-2{
  flex: 50%;
  padding-left : 20px;
  padding-top : 50px;
}

.flexbox-home-3{
  flex:48%;

}

.flexbox-home-4 {
  flex: 50%;
  padding-left: 20px;
  padding-top: 50px;
}

.flexbox-home-5{
  flex:48%;

}

.flexbox-home-6{
  flex: 50%;
  padding-left: 20px;
  padding-top: 50px;
}


.flexbox-wildlife-1{

}

.flexbox-wildlife-2{
  padding-left: 60px;
  padding-top:70px

}

.flexbox-wildlife-3{
  /*padding-left: 60px;*/
  padding-top:70px;
  flex:50%;
}

.flexbox-wildlife-4 img{
  /*padding-left: 60px;*/
  padding-top:100px;
  flex:50%;

}
#wildlife-deer{
  padding-top:137px;
}

.flexbox-wildlife-5{
  

}

.flexbox-wildlife-6{
  padding-left: 60px;
  padding-top:70px

}

@media only screen and (max-width: 1300px){
  #map{
    width: 100%;
    height: auto;
    align-items: left;
  }
  #wildlife-table{
    width: 150px;
    height: auto;
  }
}
@media only screen and (max-width: 1300px){
  #bea{
    width: 100%;
    height: auto;
  }
  #her-magpie{
    width: 100%;
    height: auto;
  }
  #flexbox-container-her2{
    display: grid;
    grid-template-rows: auto;
    
  }
  .donate-wildlife{
    width: 100px;
    height: auto;
  }
  #form{
    width: 100px;
    height: auto;
  }
}
#flexbox-container-her2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.flex-her-1{
  flex:50%;
}
.flex-her-2{
  flex:50%;
}
.flex-her-3{
  flex:50%;
}
.flex-her-4{
  flex:50%;
}

#her-facts{
 /*width:550px;*/
}

#her-magpie{
  margin-left:5%;
  margin-top:20px;
}


/*grids in the website*/

#grid-container{
  height: 60vh;
  /*border: 10px solid #14a76c;*/
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /*grid-template-rows: 1fr 1fr ;*/
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(230, 222, 222);
  border: 4px solid #ff652f;
  padding: 10px;
}

.grid-item-1{
  grid-column:1/2;
  grid-row:1/2;
  padding-top: 40px;

}

.grid-item-2 p{
  grid-column:2/3;
  grid-row:1/2;
  margin-top: 40px;
}

.grid-item-3 p{
  grid-column:1/2; 
  margin-top: 40px;

}
.grid-item-4 img{
  grid-column:2/3;
  margin-top: 40px;
  margin-left: 30px;
}
/*
#snrj img{
  margin-left: 190px;
}
*/
#snrj{
  padding:0;
}

#snrj-main{
  width:100%;
  height:auto;
}

#snrj-des{
  margin:20px;
}



.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#homeimg img{
  /*padding-left:55px;*/
  width:100%;
  height:auto;
  
}

#flexbox-container img:hover{
  transform: scale(1.04);
  transition: all 1s ease;
} 



/*Purchases and Donate page Styles*/
#heading-purcahses{
  text-align: center;
}

#purchase{
  /*background-color:rgb(181, 245, 240);*/
  background: #EDEDED;
}

#flexbox-container-purchase-1{
  /*border:black 2px solid;*/
  display: flex;
  margin: 5px;
  flex-direction: row;
  flex-wrap:wrap;
}
.flex-purchase{
  margin: 3PX;
}
.flex-purchase-1{
  flex:25%;

}
.flex-purchase-2{
  flex:25%;
  
}
.flex-purchase-3{
  flex:25%;
  
}
.flex-purchase-4{
  flex:25%;
  
}
.flex-purchase-5{
  flex:25%;
  margin-top: 20px;
  
}

.flex-purchase-6{
  flex:25%;
  margin-top: 20px;
  
}
.flex-purchase-7{
  flex:25%;
  margin-top: 20px;

}
.flex-purchase-8{
  flex:25%;
  margin-top: 20px;

}
/*
#flexbox-container-purchase-2{
  border:black 2px solid;
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-purchase-5{
  flex:25%;
  
}

.flex-purchase-6{
  flex:25%;
  
}
.flex-purchase-7{
  flex:25%;

}
.flex-purchase-8{
  flex:25%;

}
*/

#flexbox-container-donations{
 /*border:black 2px solid;*/
  display: flex;
  margin: 5px;
  flex-direction: row;
  flex-wrap:wrap;

}

.flex-donation-1{
flex:50%;
}
.flex-donation-2{
/*display:flex;
flex-direction: column;
justify-items: center;*/
flex:50%;

}

.ornament{
height: 250px;
width: 250px;
margin-left: 25px;
}

#purchase-items{
  margin-left: 25px;
}

#items-price{
  margin-left: 25px;
}
h2{
font-size: 16px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading-donate{
font-size: 24px;
padding-left: 17%;
}
#heading-gift{
font-size: 24px;
/*margin-left:50px;*/
padding-left: 20px;

}

#para-gift{
margin:10px;
padding:10px;
}

.p-donate{
width:500px;
margin:5px;
padding-left: 10%;
}

.donate-wildlife{
  /*width:450px;
  height:300px;*/
  width:550px;
  height:350px;
  padding-left: 8%;
}

#form{
  padding-left: 10%
}




#add{
color:rgb(5, 5, 5);
background-color:white;
border-radius:25px;
width:auto;
height:40px;
border-color:rgb(16, 166, 192);
border:solid;
font-weight:bold;
font-size:16px;
border-width:thin;
transition: opacity 0.4s,color 1s;
margin-left:55px;
}

#add:hover{
/*opacity:0.7;
box-shadow:1px 1px 2px rgba(0,0,0,0.15);*/
color:rgb(17, 247, 247);
transition:0.8s;
}



#bottomNav-purchases{
/*background:rgb(116, 119, 168); opacity:80%;*/
background:rgb(89, 126, 138); opacity:80%;
border: 2px solid black;
padding:1em;
margin:5px;
color:rgb(241, 12, 12);

}
#bottomNav-purchases ul {
list-style-type: none;
margin: 0;
padding: 30px;
overflow: hidden;
background-color: rgb(170, 183, 184);
word-spacing: auto;
}

#bottomNav-purchases a {
display: block;
color: white;
text-align: left;
padding: 5px 100px;
text-decoration: none;
}

#bottomNav-purchases li a:hover {
/*background-color: #111;*/
color:black;
transition:0.8s;
/*text-decoration-color: #ff652f;*/
}

/*End of Purchase and Donate Styles*/


/*Heritage 1 Animation*/
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


#wildlife-list{
  list-style-type:none;
}

#unawatuna{
  font-family: 'Raleway',sans-serif;
  
}



